---
- job:
    name: {{ JOB_NAME }}
    project-type: pipeline
    triggers:
      - timed: {% if 'daily-ocp4.3-powervm-p8-min-multimasters' in JOB_NAME %}'1 15 * * * '
        {% elif 'daily-ocp4.3-powervm-p9-min-multimasters' in JOB_NAME %}'1 16 * * * '
        {% elif 'daily-ocp4.4-powervm-p8-min-multimasters' in JOB_NAME %}'1 17 * * * '
        {% elif 'daily-ocp4.4-powervm-p9-min-multimasters' in JOB_NAME %}'30 19 * * * '
        {% elif 'daily-ocp4.5-powervm-p8-max-multimasters' in JOB_NAME %}'1 18 * * *'
        {% elif 'daily-ocp4.5-powervm-p8-min-multimasters' in JOB_NAME %}'30 20 * * * '
        {% elif 'daily-ocp4.5-powervm-p9-max-multimasters' in JOB_NAME %}'1 23 * * * '
        {% elif 'daily-ocp4.5-powervm-p9-min-multimasters' in JOB_NAME %}'30 2 * * * '
        {% elif 'daily-ocp4.3-to-4.4-p8-min-upgrade' in JOB_NAME %}'30 21 * * * '
        {% elif 'daily-ocp4.4-to-4.5-p8-min-upgrade' in JOB_NAME %}'30 1 * * * '
        {% elif 'daily-ocp4.5-powervm-p9-scale' in JOB_NAME %}'1 7 * * * '
        {% elif 'daily-ocp4.5-powervm-p8-scale' in JOB_NAME %}'30 12 * * * '
        {% elif 'daily-ocp4.5-powervm-p8-max-zstream' in JOB_NAME %}'30 3 * * * '
        {% elif 'daily-ocp4.4-powervm-p8-min-zstream' in JOB_NAME %}'30 4 * * * '
        {% elif 'daily-ocp4.6-powervm-p8-max-multimaters' in JOB_NAME %}'30 5 * * * '
        {% elif 'daily-ocp4.6-powervm-p8-min-multimaters' in JOB_NAME %}'1 8 * * * '
        {% elif 'mirror-openshift-release' in JOB_NAME %}'@hourly'
        {% elif 'poll-powervc-images' in JOB_NAME %}'@daily'
        {% elif 'daily-ocp4.5-powervs-dallas-p9-min' in JOB_NAME %}''
        {% elif 'daily-ocp4.5-powervs-frankfurt-p9-min' in JOB_NAME %}'1 1 * * *'
        {% elif 'daily-ocp4.5-powervs-london-p9-min' in JOB_NAME %}''
        {% elif 'daily-ocp4.5-powervs-toronto-p9-min' in JOB_NAME %}'1 7 * * *'
        {% elif 'daily-ocp4.5-powervs-washington-p9-min' in JOB_NAME %}''
        {% else %}''
        {% endif %}
    sandbox: true
    pipeline-scm:
      scm:
        - git:
            url: git@github.ibm.com:powercloud-cicd/test-icp-daily.git
            branches:
              - master
            credentials-id: ibm-github
            clean: true
      script-path: {{ JENKINS_FILE }}
